{% extends 'base.html' %}

{% block body %}

<form action='/timeworked' method="POST">
  <div class="form-group">
    <input type="text" name="daterange"/>
    <button class="btn btn-success" type="submit">Get Schedules</button>
  </div>
</form>

<script>

var start_date = new Date({{prior_date| safe}})
var end_date = new Date({{current_date| safe}})

$(function() {
  $('input[name="daterange"]').daterangepicker({
    "opens": 'left',
    "showWeekNumbers": true,
    "maxSpan": {
        "days": 6
    },
    "startDate": {{prior_date}},
    "endDate": {{current_date}},
    "alwaysShowCalendars": true,
  }, function(start, end, label) {
  console.log('New date range selected: ' + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY') + ' (predefined range: ' + label + ')');
  });
});
</script>

<div class="table-responsive table-bordered">
    <table class="table">
        <thead>
            <tr style="margin-top:0px;">
                <th>Employee</th>
                <th>Role</th>
                <th>Hourly Wage</th>
                <th>Hours Worked</th>
                <th>Total Payroll</th>
                {%if year_start == year_end %}
                  {%if month_start == month_end %}
                    {%for day in range(month_start_day_start, month_start_day_end+1) %}
                      <th>{{month_start_abbr}}<br/>{{day}}</th>
                    {% endfor %}
                  {% endif %}
                  {%if month_start < month_end %}
                    {%for day in range(month_start_day_start, month_start_day_end+1) %}
                      <th>{{month_start_abbr}}<br/>{{day}}</th>
                    {% endfor %}
                    {%for day in range(month_end_day_start, month_end_day_end+1) %}
                      <th>{{month_end_abbr}}<br/>{{day}}</th>
                    {% endfor %}
                  {% endif %}
                {% endif %}

                {%if year_start < year_end %}
                  {%for day in range(month_start_day_start, month_start_day_end+1) %}
                    <th>{{month_start_abbr}}<br/>{{day}}</th>
                  {% endfor %}
                  {%for day in range(month_end_day_start, month_end_day_end+1) %}
                    <th>{{month_end_abbr}}<br/>{{day}}</th>
                  {% endfor %}
                {% endif %}





            </tr>
        </thead>
        <tbody>
            {%for employees, employee in time_worked_all['employees'].items() %}
                <tr>
                    <td>{{ employee['full_name'] }}</td>
                    <td>{{employee['role']}}</td>
                    <td>${{employee['hourly_wage']}}/h</td>
                    <td>{{employee['total_hours_worked']}}</td>
                    <td>${{employee['total_payroll']}}</td>
                    {%for year, month in employee['time_worked'].items() %}
                        {%for workedhours, day in month.items() %}
                          {%for time, data in day.items() %}
                            <td>{{data['hours_worked']}}h</td>
                          {% endfor %}
                        {% endfor %}
                    {% endfor %}
                  </tr>
          {% endfor %}
        </tbody>

    </table>



</div>

{% endblock %}

<!--


<h1>Test values here:</h1>
{%for item in err%}
  <p>{{err}}</p>
{%endfor %}
<p> counter value before jumping off to new month: {{counter}} </p>
<p> start day:{{start_day}}</p>
<p> end day: {{end_day}} </p>
<p> Month range: {{start_month}} {{end_month}}</p>
<p>{{tw_day_hours}}</p>

create loop for th
have month converted to day through datetime
add start_day and end_day as range

<th>Aug 6</th>
<th>Aug 7</th>
<th>Aug 8</th>
<th>Aug 9</th>
<th>Aug 10</th>
<th>Aug 11</th>
<th>Aug 12</th>

time_worked_all['employees'].update(
                  {
                      employee_id:{
                          'full_name': full_name,
                          'role': role,
                          'hourly_wage': hourly_wage,
                          'time_worked':{
                                      y:{
                                          m:{
                                              d:{
                                                  'hours_worked': schedules['employees'][employee_id][y][m][d]['hours_worked'],

                                              }
                                          }
                                      }
                          },
                          #need to create a variable to include hours_worked for all days
                          'payroll': schedules['employees'][employee_id][y][m][d]['hours_worked'] * hourly_wage
                      }
                  }
                  )




-->

<!--
  <div class="form-group">
    <label>Select a Date:</label>
    <input class="form-control" type="date" name="date" value={{datenow}}>
    <button type="submit" class="btn btn-success btn-sm">View Payroll</button>
  </div>
-->
